/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    color: #333;
    font-size: 0.9em;
}
a {
    text-decoration: none;
    color: #333;

}
.cen {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
#h-t {
    background-color: antiquewhite;
    padding: 10px 30px;
    text-align: right;
}
#h-b h1 {
    text-align: center;
    margin-top: 30px;
}
#h-t a {
    padding: 0 0.5em;
    
}
#lnb {
    text-align: center;
    margin-top: 25px;
}

.main {
    display: inline-block;

}
.main>a {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    padding: 5px 0.6em;
    padding-bottom: 20px;
}

nav ul {
    list-style: none;
}

.sub {
    position: absolute;
    text-align: left;
    background-color: #7e5927;
    width: 160px;
    display: none;
}
.sub a {
    display: block;
    padding: 0.7em 1em;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}
.main:hover .sub {
    display: block;
}

.sub::before {
    content: "";
    display: block;
    width: 30px;
    height: 15px;
    border-bottom: 15px solid #7e5927;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    box-sizing: border-box;
    margin-top: -15px;
    margin-left: 15px;
}
footer {
    background-color: #E5E5E5;
    padding: 30px 15px;
    overflow: auto;
   
}
#footer-l {
    width: 200px;
    float: left;
}
#footer-r {
    width: calc(100% - 200px);
    /* 연산자 앞뒤로 띄어쓰기 안하면 작동 안함 */
    float: left;
}

#footer-r>div>a {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0.5em;
}
#footer-r div {
    margin-bottom: 10px;
    margin-top: 20px;
}

#footer-r p, #footer-r p a {
    color: #666;
    font-size: 0.9em;
    font-weight: bold;
}

@media (max-width: 1440px) {
    #footer-l,
    #footer-r {
        float: none;
        width: 100%;
    }
}

@media (max-width: 990px) {
    footer {
        text-align: center;
    }
}